<div class="container">


  <div class="row" >
    <div class="col-md-12">
      <div class="card" style="width: 30rem;">
        <img class="card-img-top" src="{{user.avatar_url}}" >
        <div class="card-body">
          <h5 class="card-title"><strong>Username:</strong> {{user.login}}</h5>
          <p class="card-text"><strong>Bio:</strong> {{user.bio}}</p>
          <p class="card-text"><strong>Public Repositories:</strong> {{user.public_repos}}</p>
          <p class="card-text"><strong>Followers:</strong> {{user.followers}}</p>
          <p class="card-text"><strong>Following:</strong> {{user.following}}</p>
          <p class="card-text"><strong>Account Created on:</strong> {{user.created_at|date}}</p>
  
  
          <a href="{{user.html_url}}" class="btn btn-primary">Visit Github Site</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div *ngFor="let repo of repos" class="col-md-3" >
  
      <div class="card" style="width: 18rem;height:21em">
        <div class="card-body">
          <h5 class="card-title">{{repo.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{repo.created_at|date}}</h6>
          <p class="card-text">{{repo.description}}</p>
          <a href="{{repo.html_url}}" class="card-link">Repository Link</a>
        </div>
      </div>
    </div>
    </div>
  </div>
  